<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
    
      <header>
<!--         <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1> -->
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        
         
        
        
          
        <a href="https://scholar.google.com/citations?user=7yaFpQgAAAAJ&hl=en"><img src="/images/GS.png"  style="float: left; width: 20%; margin-right: 1%; margin-bottom: 0.5em;"></img></a>
        <a href="https://github.com/rajabia"><img src="/images/GH.png"  style="float: left; width: 20%; margin-right: 1%; margin-bottom: 0.5em;"></img></a>
        <a href="https://www.linkedin.com/in/arezoo-rajabi/"><img src="/images/LK.png"  style="float: left; width: 15%; margin-right: 1%; margin-bottom: 0.5em;"></img></a>
        <a href="mailto:rajabia@oregonstate.edu"><img src="/images/Email.png"  style="float: left; width: 15%; margin-right: 1%; margin-bottom: 0.5em;"></img></a>
        <a href="https://rajabia.github.io"><img src="/images/Home.jpg"  style="float: left; width: 15%; margin-right: 1%; margin-bottom: 0.5em;"></img></a>
      
  
    <p style="clear: both;">
      
        <div style = "font-family: Times New Roman,Times,serif; height:400px; width:300px; float:left;">
          <div style = "font-size: 16pt"><span>Arezoo Rajabi</span></div>
          <div style = "font-size: 13pt"> <span>PhD Candidate </span></div>
           <div style = "font-size: 13pt"><span> Computer Sceince</span></div>
            <div style = "font-size: 13pt"><span>Oregon State University</span></div>
         </div>
      
       
        {% endif %}
          {%if true%}
<!--        <div>
        <ul>
          
          
          <li><a href="./README.md"><span
            style="font-size: 14pt;font-family: Times New Roman,Times,serif">Home</span></a></li>
          <li><a href="./Publications/papers.html"><span
            style="font-size: 14pt;font-family: Times New Roman,Times,serif">Publications</span></a></li>
          
          
          
          <li><a href="CV.pdf"><span
            style="font-size: 14pt;font-family: Times New Roman,Times,serif">Curriculum
            Vitae</span></a></li>
          
        </ul>
         </div> -->
       
          {% endif %}
      
      </header>

      <section>

      {{ content }}

      </section>
  </div>

  </body>
</html>
